*{
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(30,30,40);
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

nav{
    width: 100vw;
    height: 8vw;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgb(30,30,40);
}

nav a{
    line-height: 8vw;
    vertical-align: middle;
    margin: 0vw 5vw 0vw 5vw;
    text-decoration: none;
    font-size: 1.25vw;
    cursor: pointer;
}

#home {
    top: 0;
    opacity: 0; 
}

.greeting {
    color: #ffffff;
    margin-left: 19vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 20vw;
    font-size: 3vw;
    background-color: #015CE0;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
}

.name{
    color: #ffffff;
    margin-left: 20vw;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
}

.name label{
    color: #ffffff;
    font-family: 'Madimi One', sans-serif;
    font-size: 1.25vw;
}

.details{
    color: #ffffff;
    margin-left: 20vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75vw;
}

.small {
    color: #ffffff;
    margin-left: 20vw;
    margin-top: 0.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25vw;
}

.further-details{
    width: 100vw;
    height: 5vw;
}

.download {
    margin-left: 20vw;
    margin-top: 2vw;
    position: absolute;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85vw;
    font-weight: 500;
    color: #ffffff;
    width: 10vw;
    height: 3.5vw;
    border-radius: 0.5vw;
    background-color: rgb(30,30,40);
    border: 0.2vw solid rgb(40, 40, 54);
    cursor: pointer;
    transition: 0.3s all ease;
}

.download label{
    cursor: pointer;
    position: absolute;
    margin-top: -0.5vw;
    margin-left: -1vw;
}

.download label img{
    width: 2vw;
    height: 2vw;
    transform: rotate(90deg);
    position: absolute;
    margin-left: -2.75vw;
    margin-top: -0.5vw;
}

.download:hover{
    background-color: rgb(40, 40, 54);
}

.discord{
    position: absolute;
    margin-top: -2.5vw;
    margin-left: 7vw;
    width: 2vw;
    height: 2vw;
}

.github{
    position: absolute;
    margin-top: -2.5vw;
    margin-left: 12vw;
    width: 2vw;
    height: 2vw;
}

.image{
    width: 15vw;
    height: 17vw;
    position: absolute;
    margin-left: 70vw;
    border-radius: 5vw;
    cursor: default;
    animation-name: glide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: perspective(500px) rotate3d(1, 1, 0, 45deg);
    animation-direction: alternate-reverse;
    z-index: 2;
}

img {
    width: 3vw;
    height: 3vw;
    cursor: pointer;    
    margin-right: 5vw;
    margin-left: 25vw;
}

.about h1{
    color: #ffffff;
    margin-left: 20vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 22vw;
    font-size: 3vw;
}

.about p{
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1.75vw;
    margin-bottom: 1.75vw;
}

.start {
    margin-top: 8vw;
}

.projects h1{
    color: #ffffff;
    margin-left: 20vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 10vw;
    font-size: 3vw;
}   

.project-con{
    margin-bottom: 10vw;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70vw;
    padding-left: 20vw;
    padding-top: 5vw;
}

.project{
    box-shadow: 0vw 0vw 3vw 0.1vw rgba(0, 0, 0, 0.3);
    width: 15vw;
    height: 15vw;
    background-color: rgb(40, 40, 54);
    border-radius: 2vw;
    margin-bottom: 7vw;
    cursor: pointer;
    transition: all ease 0.6s;
    color: #ffffff;
    font-size: 1.35vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-items: center;
}

a{
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 15vw;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.35vw;
    font-family: 'Poppins', sans-serif;
}

.purple:hover{
    background-color: rgb(247, 0, 255);
}

.green:hover{
    background-color: rgb(21, 255, 0);
}

.blue:hover{
    background-color: rgb(0, 140, 255);
}

.orange:hover{
    background-color: rgb(255, 166, 0);
}

.blur1{
    width:15vw;
    height:15vw;
    position: absolute;
    background-color: rgb(57, 166, 255);
    margin-left: 10vw;
    border-radius: 100%;
    box-shadow: 10px 10px 100px rgb(53, 164, 255);
    border-style: none;
    opacity: 0.7;
    animation-name: swellleft;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    z-index: -1;
}

.blur2{
    width:15vw;
    height:15vw;
    position: absolute;
    background-color: rgb(57, 166, 255);
    margin-left: 70vw;
    margin-top: 2vw;
    border-radius: 100%;
    box-shadow: 10px 10px 100px rgb(53, 164, 255);
    border-style: none;
    animation-name: swellright;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glide{
    0% {
        margin-top: -18vw;
        transform: perspective(500px) rotate3d(1, 1, 0, 45deg); 
    }
    50% {
        margin-top: -16vw;
        transform: perspective(500px) rotate3d(0, 0, 0, 30deg);
    }
    100% {
        margin-top: -18vw;
        transform: perspective(500px) rotate3d(1, 0, 0, 45deg);
    }
}

@keyframes swellright{
    0% {width:15vw;height:15vw;margin-left: 70vw;}
    25% {width:16vw;height:16vw;margin-left: 68vw;}
    50% {width:17vw;height:17vw;margin-left: 70vw;}
    75% {width:16vw;height:16vw;margin-left: 72vw;}
    100%{width:15vw;height:15vw;margin-left: 70vw;}
}

@keyframes swellleft{
    0% {width:15vw;height:15vw;margin-left: 10vw;}
    25% {width:16vw;height:16vw;margin-left: 8vw;}
    50% {width:17vw;height:17vw;margin-left: 10vw;}
    75% {width:16vw;height:16vw;margin-left: 12vw;}
    100%{width:15vw;height:15vw;margin-left: 10vw;}
}

/*For Tablets*/
@media screen and (max-width: 768px) {
    nav a{
        font-size: 2vw;
    }
    .image{
        margin-top: -50vw;
        margin-left: 40vw;
        width: 30vw;
        height: 30vw;
    }
    .greeting{
        margin-top: 55vw;
        font-size: 5vw;
        margin-left: 46.5vw;
    }
    @keyframes glide{
        0% {
            margin-top: -60vw;
            transform: perspective(500px) rotate3d(1, 1, 0, 45deg); 
        }
        50% {
            margin-top: -60vw;
            transform: perspective(500px) rotate3d(0, 0, 0, 30deg);
        }
        100% {
            margin-top: -60vw;
            transform: perspective(500px) rotate3d(1, 0, 0, 45deg);
        }
    }
    .name{
        margin-left: 38vw;
        margin-top: 3vw;
        font-size: 3vw;
    }
    .name label{
        font-size: 2vw;
    }
    .small{
        margin-left: 18vw;
        margin-top: 3vw;
        font-size: 2.5vw;
    }
    .further-details{
        margin-left: 10vw;
    }
    .download{
        width: 20vw;
        height: 8vw;
    }
    .download label{
        font-size: 2.25vw;
        margin-left: -2vw;
        margin-top: -1.5vw;
    }
    .download label img{
        width: 3.5vw;
        height: 3.5vw;
        margin-left: -6vw;
    }
    .discord img{
        width: 5vw;
        height: 5vw;
        margin-left: 37vw;
        margin-top: 6vw;
    }
    .github img{
        width: 5vw;
        height: 5vw;
        margin-left: 40vw;
        margin-top: 6vw;
    }
    #about h1{
        font-size: 5vw;
        margin-left: 47vw;
    }
    #about p{
        font-size: 3vw;
        margin-left: 10vw;
    }
    .projects h1{
        font-size: 5vw;
        margin-left: 40vw;
    }
    .project{
        width: 20vw;
        height: 20vw;
    }
    .project a{
        font-size: 2vw;
        margin-top: 4.5vw;
    }
}