*{
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding-bottom: 1vw;
    padding-top: 1vw;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 3vw;
    background-color: rgba(0, 119, 255, 0.4);
}       

img {
    width: 3vw;
    height: 3vw;
    line-height: auto;
    vertical-align: middle;
}

h2 {
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 3vw;
    margin-left: 32vw;
}


button {
    width: 5vw;
    height: 3vw;
    font-size: 1vw;
    position: absolute;
    margin-top: -2.75vw;
    margin-left: 43vw;
    border-radius: 0.5vw;
    background-color: rgba(124, 255, 124, 0.8);
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.15vw;
    font-family: 'Poppins', sans-serif; 
    transition: all ease 0.4s;
} 

button:hover {
    background-color: rgba(124, 255, 124, 0.3);   
}

#input {
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0vw 0vw 5vw rgba(0, 0, 0, 0.5);
    width: 30vw;
    height: 34vw;
    margin-left: 35vw;
    /*margin-top: -5vw;*/
    margin-top: -50vw;
    position: absolute;
    border: none;
    align-items: center;
    border-radius: 2vw;
    z-index: 1;
    transition: all ease 0.5s;
}

input {
    margin-left: 5vw;
    margin-top: 3vw;
    width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.7vw;
    border: 0.1vw solid rgb(51, 153, 255);
    transition: all ease 0.3s;
    font-family: "Poppins", sans-serif;
    font-size: 0.9vw;
    height: 3vw;
}

input:focus {
    box-shadow: 0vw 0vw 0vw 0.2vw rgba(51, 153, 255, 0.4);
    outline: none;
}

#submitBtn {
    margin-left: 5vw;
    margin-top: 3vw;
    width: 20vw;
    border-radius: 0.7vw;
    background-color: rgb(124, 255, 124);
    color: #ffffff;
    transition: all ease 0.3s;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    height: 3vw;
    cursor: pointer;
    border: none;
}

#submitBtn:hover {
    box-shadow: 0vw 0vw 0vw 0.2vw rgb(124, 255, 124);
    outline: none;
}

#submitBtn:focus{
    box-shadow: 0vw 0vw 0vw 0.2vw rgb(124, 255, 124);
    outline: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-collapse: collapse;
}

th {
    padding: 1vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25vw;
    color: #ffffff;
    background-color: rgb(124, 255, 124);
}

tr {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

td {
    padding: 1vw;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 500;
}

tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.4);
}