*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #1a1c27;
}

h1 {
    color: #ffffff;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 4vw;
    font-family: 'Poppins', sans-serif;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-width: 0.1vw;
}

#time{
    text-align: center;
    color: #ffffff;
    font-size: 5.25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
}

span {
    width: 100vw;
    height: 5vw;
}

#start{
    width: 10vw;
    height: 5vw;
    border-radius: 1vw;
    text-align: center;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    background-color: #292c3c;
    border: none;
    margin-right: 2vw;
    margin-left: 33vw;
    cursor: pointer;
}

#lap{
    width: 10vw;
    height: 5vw;
    border-radius: 1vw;
    text-align: center;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    background-color: #292c3c;
    border: none;
    margin-right: 2vw;
    cursor: pointer;
}

#stop{
    width: 10vw;
    height: 5vw;
    border-radius: 1vw;
    text-align: center;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    background-color: #292c3c;
    border: none;
    cursor: pointer;
}

button{
    transition: all ease 0.4s;
    outline: none;
}

#start:hover{
    background-color: rgb(30, 255, 101);
}

#lap:hover{
    background-color: #ffb300;
}

#stop:hover{
    background-color: rgb(255, 55, 55);
}

#delete-lap{
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 3vw;
    text-align: center;
    color: #ffffff;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    background-color: #292c3c;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-top: 6.5vw;
    margin-left: -4.5vw;
}

#delete-lap:hover{
    background-color: rgb(255, 55, 55);
}

.time-con{
    width: 30vw;
    height: auto;
    background-color: #222432;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vw;
    border-radius: 2vw;
}

.time-con ul{
    margin-right: 2vw;
    margin-left: 2vw;
    padding-top: 2vw;
}

.time-con ul li {
    list-style: none;
    color: #e7e7e7;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5vw;
}

.time-con ul li label{
    float: right;
}

hr {
    background-color: #e7e7e7;
    margin-bottom: 1.5vw;
}

#total {
    color: #e7e7e7;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    margin-right: 2vw;
    margin-left: 2vw;
    padding-bottom: 2vw;
}

#total label {
    float: right;
}